{% extends 'base.html' %}

{% block title %} Задачи {% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Создать задачу</a>
    </li>
{% endblock %}

{% block content %}
    {% if tasks %}
    {% for task in tasks %}
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Задача №: {{ task.pk }}</div>
            <div class="card-body">
                {% if task.date %}
                    <h5 class="card-title">Нужно решить до {{ task.date }}</h5>
                {% endif %}
            <p class="card-text">{{ task.description }}</p>
                <a href="{% url 'delete' task.pk  %} ">Удалить задачу</a>
            </div>
        </div>
    {% endfor %}
        {% else %}
        <h1>Нет задач</h1>
    {% endif %}
{% endblock %}